// custom classes
.btn-md {
    border-radius: 8px;
    padding: 10px 15px !important;
}

.primary_bg {
    background: $primary_shade;
}

.bg-grey {
    background-color: $fade_grey;
}

.faded-red-bg {
    background-color: $lite-red;
}

.bg-fade-grey {
    background-color: $grey;
}

.rounded-top-both {
    border-radius: 14px 14px 0px 0px;
}

.rounded-11 {
    border-radius: 11px;
}

.rounded-4 {
    border-radius: 4px;
}

.secondary-bg {
    background: $secondary_shade !important;
}

.fade-blue {
    background-color: $fade_blue;
}

.me-50 {
    margin-right: 50px;
}

.heading {
    font-size: 2.5rem;
    font-weight: bold;
}

.sub-heading {
    font-size: 1.875rem;
    font-weight: 700;
}

.card-hd {
    font-size: 1.25rem;
    font-weight: 600;
}

.text_secondary {
    color: $secondary_shade !important;
}

.text-primary {
    color: $primary_shade !important;
}

.py-100 {
    padding: 100px 0px 100px 0px;
}

.py-60 {
    padding: 60px 0px 60px 0px;
}

.py-40 {
    padding: 40px 0px 40px 0px;
}

.font-18 {
    font-size: 18px;
}

.font-20 {
    font-size: 20px !important;
}

.font-13 {
    font-size: 13px;
}

.font-14 {
    font-size: 14px;
}

.font_36 {
    font-size: 36px;
}

.font_10 {
    font-size: 10px;
}

.font_11 {
    font-size: 11px;
}

.font_50 {
    font-size: 50px;
}

.font_21 {
    font-size: 21px;
}

.semi-bold {
    font-weight: 600;
}

.equal_shadow {
    box-shadow: 0px 0px 14px #0000000D;
}

.bg-fade-green {
    background-color: $fade_green;
}

.feature-card {
    border-radius: 0px 25px 25px 25px;
    padding: 20px;
    background-color: #fff;
}

.mt_-80px {
    margin-top: -5rem;
}

.pb-100 {
    padding-bottom: 6.25rem !important;
}

.p-8-10 {
    padding: 8px 10px !important;
}

.arrows_rotation {
    transform: rotate(180deg);
    transition: transform 1s linear;
}

.myform {
    background-color: #F6F6F6 !important;
    border: none;
    font-size: 16px;
    color: #787878 !important;
    &::placeholder {
        font-size: 12px;
    }
}

.hover_btn {
    border: 1px solid $primary_shade;
    &:hover {
        background-color: #fff;
        color: $text_primary !important;
        img {
            filter: brightness(0) saturate(100%) invert(20%) sepia(22%) saturate(1159%) hue-rotate(125deg) brightness(94%) contrast(87%);
        }
    }
}