$primary: #1B4541;
$secondary: #FF7A07;
$text_primary:#272727;
$text_secondary:#3D3D3D;
$fade_green:#E8FFFD;
$fade_grey:#F6F6F6;
$fade_blue:#E1FEFB;
$equal-shadow:0px 0px 6px #00000014;
// @mixin btn-lg {
//     background: #1B4541 0% 0% no-repeat padding-box;
//     border-radius: 4px;
// }
// .btn {
//     @include btn-lg;
// }