        .calculator {
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 1px solid #D5D5D5;
            border-radius: 8px;
            position: relative;
            /* folding */
            .fold::before {
                content: "";
                position: absolute;
                top: -1px;
                right: -1px;
                border-style: solid;
                border-width: 0 30px 30px 0;
                border-color: #344 #fff;
                transition: all ease 0.5s;
            }
            .fold:hover::before {
                border-width: 0 150px 150px 0;
                border-color: #344 #fff;
            }
            label {
                font-family: sofiaPro_semibold;
                margin-bottom: 10px;
            }
        }
        
        // our Guranties
        .Guranties-list li {
            position: relative;
            margin-bottom: 15px;
            margin-left: 24px;
        }
        
        .Guranties-list li::before {
            content: url(../assets/icons/roundedtick.svg);
            position: absolute;
            left: -26px;
            top: 3px;
        }
        
        .Our-Gurantie-board {
            border: 10px solid $primary_shade;
            border-radius: 12px;
            background-color: $primary_shade;
            .wrapper {
                border: 2px solid $primary_shade;
                border-radius: 12px;
                padding: 25px;
                background-color: #fff;
            }
        }
        
        .advantages-card {
            background-color: #fff;
            .header {
                padding: 5px;
            }
        }
        
        .team-card {
            border: 1px solid #F1F1F1;
            box-shadow: 0px 0px 11px #1D242417;
            border-radius: 12px;
            .team-card-body {
                ul li {
                    display: flex;
                    align-items: center;
                    background-color: #F6F6F6;
                    padding: 5px;
                    border-radius: 4px;
                    margin-bottom: 10px;
                    font-size: 14px;
                    span {
                        display: flex;
                        align-items: center;
                        margin-left: 10px;
                    }
                }
            }
        }
        
        // advantages
        .compelete-bg {
            background-image: url(../assets/images/Greenlayers.png);
            background-size: cover;
        }
        
        .owl-item.active.center {
            transform: scale(1.3);
            transition: all 0.3s ease-in-out;
            z-index: 99999;
        }
        
        .assist-tag {
            height: 44px;
            border: 1px solid #E1E1E1;
            border-radius: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 500;
            padding: 15px;
            margin-right: 12px;
            margin-bottom: 20px;
            a {
                font-family: sofia_medium;
                text-decoration: none !important;
                color: unset;
                &::before {
                    content: url("../assets/icons/ticktag.svg");
                    margin-right: 10px;
                }
            }
        }
        
        .review_slider {
            background-color: #FFFBF5;
            .review_erapper {
                border: 1px solid #D5D5D5;
                border-radius: 8px !important;
            }
            .review_item {
                background-color: #fff;
                box-shadow: 0px 0px 5px #00000014;
                border-radius: 8px !important;
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    top: -4px;
                    right: -3px;
                    border-style: solid;
                    border-width: 0 35px 31px 0;
                    border-color: #fff #FFFBF5;
                    transition: all ease 0.5s;
                    box-shadow: -3px 4px 4px rgb(0 0 0 / 8%);
                }
                ul {
                    li {
                        background-color: #F6F6F6;
                        border-radius: 7px;
                        padding: 10px;
                        margin-bottom: 10px;
                        span {
                            font-size: 14px;
                        }
                        p {
                            font-weight: 700;
                        }
                    }
                }
            }
            .owl-stage-outer {
                padding-top: 50px;
            }
        }
        
        // customer review slider
        .customer_review_slider {
            background-color: #F5F5F5;
            .owl-stage-outer {
                padding: 60px 0px 60px 0px;
            }
            .owl-stage-outer .owl-stage .center .customer_review_item {
                background-color: #1B4541;
                color: #fff !important;
                border-radius: 8px !important;
                &::after {
                    border-top: 10px solid #1B4541;
                    border-left: 10px solid #1B4541;
                }
            }
            .owl-dot span {
                width: 22px !important;
                height: 4px !important;
                border-radius: 2px;
            }
            .owl-theme .owl-dots .owl-dot.active span,
            .owl-theme .owl-dots span {
                background: #1B4541;
            }
            .review_footer {
                display: flex;
                span {
                    font-family: sofia_medium;
                }
                p {
                    font-size: 10px;
                }
            }
        }
        
        .owl-theme .owl-nav [class*=owl-]:hover {
            background-color: unset !important;
        }
        
        .order_Now {
            background-image: url("../assets/images/ordernowbg.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            border-radius: 0px 10px 10px 10px;
        }
        
        .order_Now_section {
            position: relative;
            .banner {
                position: absolute;
                top: 12px;
            }
        }
        
        // footer css
        .footer_section {
            background-image: url("../assets/images/footerbg.png");
            background-size: cover;
            background-repeat: no-repeat;
            .review {
                .rating {
                    background-color: #F1F4F4;
                }
            }
            h5 {
                font-family: sofiaPro_bold;
                font-size: 18px;
                margin-bottom: 16px !important;
            }
            ul {
                li {
                    margin-bottom: 10px;
                    a {
                        color: #272727 !important;
                    }
                }
            }
        }
        
        .advantages {
            background-image: url("../assets/images/advanbg.png");
            background-size: cover;
            background-position: center;
        }
        
        .hero_banner {
            background-image: url("../assets/images/herobg.png");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        
        .why-us {
            background-image: url("../assets/images/whybg.png");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        
        .customer_review_item {
            background-color: #fff;
            border-radius: 8px !important;
            box-shadow: 0px 0px 9px #00000014;
            p {
                font-size: 14px;
            }
            position: relative;
            &::after {
                content: "";
                width: 0px;
                height: 0px;
                position: absolute;
                border-left: 10px solid #fff;
                border-right: 10px solid transparent;
                border-top: 10px solid #fff;
                border-bottom: 10px solid transparent;
                left: 10%;
                bottom: -19px;
            }
        }