.services_hero_section {
    background-image: url("../assets/images/serviceheor.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.scrollerable {
    height: 823px;
    background-color: #F7F7F7;
    overflow-y: scroll;
    padding: 30px;
}