.calculator {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #D5D5D5;
  border-radius: 8px;
  position: relative;
  /* folding */
}
.calculator .fold::before {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  border-style: solid;
  border-width: 0 30px 30px 0;
  border-color: #344 #fff;
  transition: all ease 0.5s;
}
.calculator .fold:hover::before {
  border-width: 0 150px 150px 0;
  border-color: #344 #fff;
}
.calculator label {
  font-family: sofiaPro_semibold;
  margin-bottom: 10px;
}

.Guranties-list li {
  position: relative;
  margin-bottom: 12px;
  margin-left: 24px;
}

.Guranties-list li::before {
  content: url(../assets/icons/roundedtick.svg);
  position: absolute;
  left: -26px;
  top: 3px;
}

.Our-Gurantie-board {
  border: 10px solid #1B4541;
  border-radius: 12px;
  background-color: #1B4541;
}
.Our-Gurantie-board .wrapper {
  border: 2px solid #1B4541;
  border-radius: 12px;
  padding: 25px;
  background-color: #fff;
}

.advantages-card {
  background-color: #fff;
}
.advantages-card .header {
  padding: 5px;
}

.team-card {
  border: 1px solid #F1F1F1;
  box-shadow: 0px 0px 11px rgba(29, 36, 36, 0.0901960784);
  border-radius: 12px;
}
.team-card .team-card-body ul li {
  background-color: #F6F6F6;
  padding: 5px;
  border-radius: 4px;
  margin-bottom: 7px;
}

.compelete-bg {
  background-image: url(../assets/images/Greenlayers.png);
  background-size: cover;
}

.owl-item.active.center {
  transform: scale(1.3);
  transition: all 0.3s ease-in-out;
  z-index: 99999;
}

.assist-tag {
  height: 44px;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  padding: 15px;
  margin-right: 12px;
  margin-bottom: 20px;
}
.assist-tag a {
  font-family: sofia_medium;
  text-decoration: none !important;
  color: unset;
}
.assist-tag a::before {
  content: url("../assets/icons/ticktag.svg");
  margin-right: 10px;
}

.review_slider {
  background-color: #FFFBF5;
}
.review_slider .review_erapper {
  border: 1px solid #D5D5D5;
  border-radius: 8px !important;
}
.review_slider .review_item {
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.0784313725);
  border-radius: 8px !important;
  position: relative;
}
.review_slider .review_item::before {
  content: "";
  position: absolute;
  top: -4px;
  right: -3px;
  border-style: solid;
  border-width: 0 35px 31px 0;
  border-color: #fff #FFFBF5;
  transition: all ease 0.5s;
  box-shadow: -3px 4px 4px rgba(0, 0, 0, 0.08);
}
.review_slider .review_item ul li {
  background-color: #F6F6F6;
  border-radius: 7px;
  padding: 10px;
  margin-bottom: 10px;
}
.review_slider .review_item ul li span {
  font-size: 14px;
}
.review_slider .review_item ul li p {
  font-weight: 700;
}
.review_slider .owl-stage-outer {
  padding-top: 50px;
}

.customer_review_slider {
  background-color: #F5F5F5;
}
.customer_review_slider .owl-stage-outer {
  padding: 60px 0px 60px 0px;
}
.customer_review_slider .customer_review_item {
  background-color: #fff;
  border-radius: 8px !important;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.0784313725);
  position: relative;
}
.customer_review_slider .customer_review_item p {
  font-size: 14px;
}
.customer_review_slider .customer_review_item::after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #fff;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
  border-bottom: 10px solid transparent;
  right: 322px;
  bottom: -19px;
}
.customer_review_slider .owl-stage-outer .owl-stage .center .customer_review_item {
  background-color: #1B4541;
  color: #fff !important;
  border-radius: 8px !important;
}
.customer_review_slider .owl-stage-outer .owl-stage .center .customer_review_item::after {
  border-top: 10px solid #1B4541;
  border-left: 10px solid #1B4541;
}
.customer_review_slider .owl-dot span {
  width: 22px !important;
  height: 4px !important;
  border-radius: 2px;
}
.customer_review_slider .owl-theme .owl-dots .owl-dot.active span,
.customer_review_slider .owl-theme .owl-dots span {
  background: #1B4541;
}
.customer_review_slider .review_footer {
  display: flex;
}
.customer_review_slider .review_footer span {
  font-family: sofia_medium;
}
.customer_review_slider .review_footer p {
  font-size: 10px;
}

.owl-theme .owl-nav [class*=owl-]:hover {
  background-color: unset !important;
}

.order_Now {
  background-image: url("../assets/images/ordernowbg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0px 10px 10px 10px;
}

.order_Now_section {
  position: relative;
}
.order_Now_section .banner {
  position: absolute;
  top: 3px;
}

.footer_section {
  background-image: url("../assets/images/footerbg.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.footer_section .review .rating {
  background-color: #F1F4F4;
}
.footer_section h5 {
  font-family: sofiaPro_bold;
  font-size: 18px;
  margin-bottom: 16px !important;
}
.footer_section ul li {
  margin-bottom: 10px;
}
.footer_section ul li a {
  color: #272727 !important;
}

.advantages {
  background-image: url("../assets/images/advanbg.png");
  background-size: cover;
  background-position: center;
}

.btn-md {
  border-radius: 8px;
  padding: 10px 15px !important;
}

.primary_bg {
  background: #1B4541;
}

.bg-grey {
  background-color: #F6F6F6;
}

.faded-red-bg {
  background-color: #FFFBF7;
}

.bg-fade-grey {
  background-color: #F5F5F5;
}

.rounded-11 {
  border-radius: 11px;
}

.rounded-4 {
  border-radius: 4px;
}

.secondary-bg {
  background: #FF7A07 !important;
}

.fade-blue {
  background-color: #F5FFFE;
}

.me-50 {
  margin-right: 50px;
}

.heading {
  font-size: 2.5rem;
  font-weight: bold;
}

.sub-heading {
  font-size: 1.875rem;
  font-weight: 700;
}

.card-hd {
  font-size: 1.25rem;
  font-weight: 600;
}

.text_secondary {
  color: #FF7A07 !important;
}

.text-primary {
  color: #1B4541 !important;
}

.py-100 {
  padding: 100px 0px 100px 0px;
}

.py-60 {
  padding: 60px 0px 60px 0px;
}

.py-40 {
  padding: 40px 0px 40px 0px;
}

.font-18 {
  font-size: 18px;
}

.font-20 {
  font-size: 20px !important;
}

.font-13 {
  font-size: 13px;
}

.font-14 {
  font-size: 14px;
}

.font_36 {
  font-size: 36px;
}

.font_10 {
  font-size: 10px;
}

.font_11 {
  font-size: 11px;
}

.font_50 {
  font-size: 50px;
}

.font_21 {
  font-size: 21px;
}

.semi-bold {
  font-weight: 600;
}

.equal_shadow {
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.0509803922);
}

.bg-fade-green {
  background-color: #E8FFFD;
}

.feature-card {
  border-radius: 0px 25px 25px 25px;
  padding: 20px;
  background-color: #fff;
}

.mt_-80px {
  margin-top: -5rem;
}

.pb-100 {
  padding-bottom: 6.25rem !important;
}

.p-8-10 {
  padding: 8px 10px !important;
}

.arrows_rotation {
  transform: rotate(180deg);
  transition: transform 1s linear;
}

.myform {
  background-color: #F6F6F6 !important;
  border: none;
  font-size: 16px;
  color: #787878 !important;
}

.hover_btn {
  border: 1px solid #1B4541;
}
.hover_btn:hover {
  background-color: #fff;
  color: #272727 !important;
}
.hover_btn:hover img {
  filter: brightness(0) saturate(100%) invert(20%) sepia(22%) saturate(1159%) hue-rotate(125deg) brightness(94%) contrast(87%);
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
  color: #272727;
  font-family: sofiaPro_bold;
}

a {
  text-decoration: none;
}

p {
  margin: 0 !important;
  font-family: sofia_Regular;
}

li {
  font-family: sofia_Regular;
}

.btn,
.form-control {
  box-shadow: unset !important;
  outline: 0 !important;
}

@font-face {
  font-family: sofia_Regular;
  src: url(../assets/font/sofia_Regular.otf);
}
@font-face {
  font-family: sofiaPro_semibold;
  src: url(../assets/font/sofiaPro_semibold.otf);
}
@font-face {
  font-family: sofia_medium;
  src: url(../assets/font/sofia_medium.otf);
}
@font-face {
  font-family: sofiaPro_bold;
  src: url(../assets/font/Sofia_Bold.otf);
}
@font-face {
  font-family: sofiaPro_light;
  src: url(../assets/font/sofiaPro_light.otf);
}
.navbar_section {
  background-image: url("../assets/images/navbg.png");
  background-size: cover;
}

.navbar .nav-item .nav-link {
  color: #272727;
  font-weight: 600;
  font-family: sofiaPro_semibold;
}
.navbar .nav-item .nav-link:hover {
  color: #FF7A07;
}
.navbar .nav-item .nav-link:hover img {
  filter: invert(50%) sepia(82%) saturate(1775%) hue-rotate(354deg) brightness(101%) contrast(104%);
}
.navbar .nav-head {
  background-color: #F5FFFE;
}
.navbar .dropdown .dropdown-toggle::after {
  display: none;
}
.navbar .dropdown .dropdown-menu {
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.1098039216);
  border-radius: 0px 16px 16px 16px;
  border: unset;
  padding-left: 5px;
  padding-right: 5px;
}
.navbar .dropdown .dropdown-menu .dropdown-item {
  border-radius: 4px;
  font-family: sofiaPro_semibold;
}
.navbar .dropdown .dropdown-menu .dropdown-item:hover {
  background: #DBDBDB;
}

@media screen and (max-width: 992px) {
  .pt-80 {
    padding-top: 80px !important;
  }
  .heading {
    font-size: 1.875rem;
    text-align: center;
  }
  .sub-heading {
    font-size: 1.275rem;
    text-align: center;
  }
  .py-60 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .py-40 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .py-100 {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }
  .navbar {
    position: absolute;
    width: 100%;
    padding: 8px;
    left: 0;
  }
  .navbar .navbar-nav {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.0509803922);
    padding: 10px 7px;
  }
  .owl-nav {
    margin-top: 20px;
    text-align: center;
  }
  .owl-nav .owl-prev {
    margin-right: 20px !important;
  }
  .assist-tag {
    width: 226px;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 992px) {
  .owl-stage-outer {
    padding: 100px 0px 100px 0px;
  }
  .owl-carousel .owl-prev {
    height: 50px;
    width: 25px;
    cursor: pointer;
    position: absolute;
    top: 50% !important;
    left: -73px;
  }
  .owl-carousel .owl-next {
    height: 50px;
    width: 25px;
    cursor: pointer;
    position: absolute;
    top: 50% !important;
    right: 0;
    right: -73px;
  }
}/*# sourceMappingURL=style.css.map */